.box {
    width: 800px;
    height: 200px;
    background-color: blue;
    transition: width 2s ease-in-out;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: linear;
}

.box:hover {
    width: 100px;
    background-color: coral;
}